.footer{
   width: 100%;
   background:#ccc ;
   .container{
     display: flex;
     justify-content: space-around;
     align-items: flex-start;
     padding: 20px 20px;
     width: 100%;
  
      .f1 {
    .send-box {
  position: relative;
  display: inline-block;
    height: 100px;
}
.send-box input {
  padding: 8px 30px 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;

}
.send-box .icon {
  position: absolute;
  right: 10px;
  top: 20%;
  transform: translateY(-50%);
  cursor: pointer;
  color: gray;
}  
      }
  
      .footer_icon{
         display: flex;
         gap: 10px;
      }
   }
}