@use "sass:map";
@import "style/pages/theme";
.header_top{
    background: gainsboro;  
}

.header_top_right{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 0 13px;
    ul{
        display: flex;
        column-gap: 10px;
        list-style: none;

        a{
            font-size: 14px;
            display: inline-block;
            color: map.get($theme-colors,"normal-text");
        }
        
        li:last-child{
            cursor: pointer;
            margin-left: 20px;
         span{
           font-size: 15px;
           margin-left: 10px;
           margin-bottom: 5px;
        }
        }
       li{
        display: flex;
        align-items: center;
       }
       
    }
}

.header_top_left{
    padding: 10px 0 13px;
 ul{
    display: flex;
    align-items: center;
    list-style: none;
    li{
         margin-left: 20px;
         font-size: 14px;
         color: map.get($theme-colors,"normal-text");
         display: flex;
         align-items: center;
    }
    li:first-child{
        cursor: pointer;
          margin-left: 20px;
         span{
           font-size: 15px;
           margin-left: 10px;
        }
    }
    li:first-child{
      position: relative;
      &::after{
        position: absolute;
        right: -10px;
        top: 1px;
        height: 20px;
        width: 1px;
        background: black;
        opacity: 0.1;
        content: "";
      }
 }
}
}

.header_logo{
  padding: 20px 0;
}

.header_menu{
  padding: 20px 0;
  ul{
    display: flex;
    column-gap: 5px;
    list-style: none;
    justify-content: space-between;
    text-decoration: none;
    
    .active a{
      color:map.get($theme-colors,"main");
      text-decoration: none;
    }
   

    li{
      list-style: none;

      a{
        text-decoration: none;
        font-size: 14px;
        color:map.get($theme-colors,"bold-black");
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        transition: all 0.3s;
        padding: 5px 0;
        display: block;
      }
     
   

    }
    

     
  }
    .header_menu_dropdown {
  display: none;
  position: absolute; /* để dropdown không đẩy layout */
  background-color: #fff;
  padding: 0;
  margin: 0;
  list-style: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  width: 70px;
 
}

/* Khi hover vào menu cha, hiện submenu */
li:hover > .header_menu_dropdown {
  display: block;
}

/* Optional: style các item con */
.header_menu_dropdown li {
  padding: 4px 4px;
}

.header_menu_dropdown li:hover a {
  color: map.get($theme-colors,"main");
}
}

.header_cart{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;

  ul{
    display: flex;
   
    margin-right: 20px;
    li{
       position: relative;
      list-style: none;
      margin-left: 20px;
    }
    svg{
      font-size: 25px;
      color: map.get($theme-colors,"normal-text");
    }
    span{
      color: white;
      background: map.get($theme-colors,"main") ;
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      font-size: 13px;
      font-weight: 500;
      left: 20px;
      top: -2px;
    }
  }
}