@use "sass:map";
@import "style/pages/theme";

.header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.header_top{
    background: black;  
    display: flex;
    justify-content:  space-around;
    align-items: center;
    height: 40px;
    color: white;
    padding: 10px;

    p span{
      margin-left: 20px;
      a{
        color: white;
      }
    }

    select{
    border: none;
    background: transparent;
    font-size: 16px;
    color: #fff;
    outline: none;
   cursor: pointer;
   option{
    background: black;
    cursor: pointer;
   }
    }
}

.header_container{
   display: flex;
   justify-content: space-around;
   align-items: center;
   max-width: 1200px; 
   padding: 0 16px;   
   margin: 0 auto;  
   height: 70px;
  .menu{
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 20px;
    
    li a{
      color: black;
      text-decoration: none;
    }
    .active{
      text-decoration: underline;
    }
  }

.search-box {
  position: relative;
  display: inline-block;
}
.search-box input {
  padding: 8px 30px 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.search-box .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: gray;
}
 

.header_icon{
  .style_icon{
    height: 30px;
    width: 30px;
    margin-left: 10px;
  }
}
 
}